.navItemBox{
    height: 20px;
    color:#afb3b9;
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
    padding: 20px;
    margin: 0;
    position: relative;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #63666d;
}
.navItemBoxActive{
    height: 20px;
    width: 100%;
    font-size: 1rem;
    font-size: 16px;
    padding: 20px;
    margin: 0;
    position: relative;
    list-style: none;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}
.navItemBox:hover{
    cursor: pointer;
    opacity: 0.5;
    background-color: #282c34;
}

@media only screen and (max-width: 600px) {
    .navItemBox{
        height: 20px;
        width: 100%;
        font-size:2vw;
        margin: 0;
        position: relative;
        list-style: none;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #63666d;
    }
    .navItemBoxActive{
        height: 20px;
        width: 100%;
        font-size: 2vw;
        margin: 0;
        position: relative;
        list-style: none;
        box-sizing: border-box;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        background-color: #282c34;
    }
}